* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    line-height: 1.6;
    background-color: aliceblue;
}
body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;
}

header{
    margin: 0 auto;
    background-color: #FFF5E1;
}
.topheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo > p {
    font-size: 16px;

}
#logo > p > b {
    font-size: 24px;
}
.contact_block{
    display: flex;
    flex-direction: column;

}

.phone_number {
    font-size: 30px;
}
.social_block {
    display: flex;
    justify-content: end;
    
}
.icon_social {
    height: 48px;
    width: 48px;
}
.icon_phone {
    height: 30px;
    width: 30px;
}
.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav_bar {
    display: inline;
}

.content_block {
    max-width: 1440px;
    height: 100%;
} 

.about {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom right, #FFF5E1, #62A9BF);
}

#list_photo > ul {
    margin: 20px;
}
.photo_enginer {
    max-width: 490px;
    max-height: 360px;
}

.photo_enginer > img {
    width: 100%;
    height: 100%;
}

#container_advantages {
    max-width: 550px; 
    display: flex;
    flex-direction: column;
}

.advan {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.advan > img {
    max-width: 90px;
    max-height: 90px;
    margin-right: 10px;
}
.advan > p {
    padding-left: 10px;
    font-size: 30px;
}
.services {
    display: flex;
}
.services_img_text > img {
    max-width: 320px;
    max-height: 320px;
}