* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    line-height: 1.6;
    background-color: aliceblue;
}
body {
    min-height: 100vh;
    max-width: 1440px;
    
}

header{
    margin: 0 200px;
    background-color: #FFF5E1;
}
.topheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo > p {
    font-size: 16px;

}
#logo > p > b {
    font-size: 24px;
}
.contact_block{
    display: flex;
    flex-direction: column;

}

.phone_number {
    font-size: 30px;
}
.social_block {
    display: flex;
    justify-content: end;
    
}
.icon_social {
    height: 48px;
    width: 48px;
}
.icon_phone {
    height: 30px;
    width: 30px;
}
.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav_bar {
    display: inline;
}