* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    line-height: 1.6;
    background-color: aliceblue;
}
body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1440px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);
}
/* header */
header{
    margin: 0 auto;
    padding: 0 2%;
    background-color: #FFF5E1;
}
.topheader {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

/* logo */

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* logo text */

#logo > p {
    font-size: 16px;

}
#logo > p > b {
    font-size: 24px;
}

/* header contact social and phone*/

.contact_block{
    display: flex;
    flex-direction: column;
}

.phone_number {
    font-size: 30px;
}
.social_block {
    display: flex;
    justify-content: end;
    
}
.icon_social {
    height: 48px;
    width: 48px;
}
.icon_phone {
    height: 30px;
    width: 30px;
}

/* navigation */

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav_bar {
    display: inline;
}

.content_block {
    max-width: 1440px;
    height: 100%;
    padding: 2%;
}

/* first block */

.about {
    /* margin: 0 5%; */
    padding: 5% 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom right, #FFF5E1, #62A9BF);
}

#list_photo > ul {
    margin: 20px;
}
.photo_enginer {
    max-width: 490px;
    max-height: 360px;
}

.photo_enginer > img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/* icon and text advantages */

#container_advantages {
    max-width: 550px; 
    display: flex;
    flex-direction: column;
}

.advan {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}

.advan > img {
    max-width: 90px;
    max-height: 90px;
    margin-right: 10px;
}

.advan > p {
    padding-left: 10px;
    font-size: 30px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#62A9BF, #DFE5DA);    
}

.container_services {
    margin: 4% 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services_img_text {
    margin: 0 1%;    
}

.services_img_text > img {
    max-width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
.services_img_text > p {
    max-width: 320px;
    text-align: center;
}
.feedback {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background: #EBEBEB;

}
.container_feedback {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.comment {
    padding: 2%;
    margin: 1.5rem;
    max-width: 300px;
    min-height: 300px;
    background: #e1e1e1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    background: #B1A6A6;
}